html body {
    font-family: 'Autour One', cursive;
    background-color: black;
    color: white;
    width: 100%;
  }
  
  .intro {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  
  h1 > .tic {
    color: red;
  }
  
  h1 .tac {
    color: blue;
  }
  
  h1 .toe {
    color: green;
  }
  
  h2 {
    animation-duration: 3s;
    animation-name: slidein;
    color: white;
  }
  
  .btn {
    font-family: 'Autour One', cursive;
    margin: auto auto;
    font-size: 16px;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  td {
    height:150px;
    width:150px;
    text-align: center;
    border: 5px solid rgb(192, 195, 203);
    background-color: rgb(192, 195, 203);
    font-size: 100px;
  }
  
  table {
    margin: auto auto;
  }
  
  footer {
    width: 100%;
    text-align: center;
    margin: 30px 5px;
  }